.lang {
  display: none;
}

body[data-current-language="ua"] .lang.lang-ua {
  display: initial;
}
body[data-current-language="ru"] .lang.lang-ru {
  display: initial;
}
body[data-current-language="eng"] .lang.lang-eng {
  display: initial;
}